@charset "utf-8";

/* Datei: grid.css*/
/* Styling für das Flexbox-Layout */
/******
Dynamic Grid Vertiefung
****/
        
/* Für das Layout*/
body {
	/*Schriftfamilie festlegen*/
    font-family: Arial, sans-serif;
    
    /*bestimmt den vertikalen Abstand zwischen 
    einzelnen Textzeilen innerhalb eines Elements.*/
    line-height: 1.6;
}

h1, h2{
	/*Schriftfarbe*/
	color: orange;
	
	/*Textform*/
	text-transform: uppercase;
	
	padding-left: 80px;
		
	/*Schriftgewicht*/
	font-weight: 100;
}

header h2{
	color: white;
}

legend {
	/*Schriftfarbe*/
	color: orange;
	
	/*Textform*/
	text-transform: uppercase;
		
	/*Schriftgewicht*/
	font-weight: 100;
}

h1 {
	/*Schriftfarbe*/
	color: white;
	
	/*Schriftgröße für relative Angaben innerhalb der Boxen*/
	font-size: 200%;	
}

aside{
	/*Schriftfarbe*/
	color: orange;
	
	/*Textform*/
	text-transform: uppercase;
	
	/*Schriftgewicht*/
	font-weight: 100;
}


.container {
  margin: 0.5em 5em;
  display: grid;
  grid-template-columns: repeat(3, 1fr) auto repeat(3, 1fr);
  grid-template-rows: auto auto auto auto;
  gap: 1rem;
}

header {
	grid-column-start: 1;
	grid-column-end: 8;
	grid-row-start: 3;
	grid-row-end: 1;
  
	grid-area: 1 / 1 / span 1 / span 7;
    
   /*Hintergrundfarbe*/
   background-color: orange;

    /*Innenabstand zu Inhalt
    (relative Angabe, responsive): rem steht für "Root Element"*/    
    padding: 1rem;  
          
	/*Rahmen*/
	border: 2px solid red; 
}

/*Kopfzeile*/
header {
	top:115px;/*Abstand von oben: 115px*/
	color:white;/*Schriftfarbe: white */
	background-color:orange; /*Hintergrundfarbe: orange*/
	border: 0px solid red;/*Rahmen 1 Pixel breit durchgehend grün*/
}


header #logo {
	float: left; /*Ausrichtung des Elements links*/
    width: 300px;/*Box-Breite: 300 Punkte*/
    height: 255px; /*Box-Höhe: 255 Punkte*/
    margin-top: -70px;
	background: url(../images/sonne.png); /*logo einbinden*/
	background-repeat: no-repeat; /*Verhindert die Wiederholung der Grafik*/
	border: 0px solid red;
}


/*Navigation*/
nav {
	grid-area: 2 / 1 / auto / span 7;
	
	/*Hintergrundfarbe*/
    background-color: #333;
    
    /*Schriftfarbe*/
    color: white;

    /*Innenabstand zu Inhalt
    (relative Angabe, responsive): rem steht für "Root Element"*/    
    padding: 1rem;      
	border: 2px solid green; 

}


/*Links*/
aside {
	grid-area: 3 / 1 / span 2 / span 2;
	
    /*Innenabstand zu Inhalt
    (relative Angabe, responsive): rem steht für "Root Element"*/    
    padding: 1rem;  
     
    
  	/*Hintergrundfarbe*/
	background-color: #ddd;
	
	border: 2px solid violet; 
}

/*Rechts*/
main {
	grid-area: -3 / -6 / span 2 / span 5;
	
	
    /*Innenabstand zu Inhalt
    (relative Angabe, responsive): rem steht für "Root Element"*/    
    padding: 1rem; 
      
	/*Hintergrundfarbe*/
	background-color: #f4f4f4;
   
	/*align-self: center;*/
  
	border: 2px solid orange; 
}

section h2{
	/*Schriftgröße */
    font-size: 1.2em;
    
    /*Schriftfarbe*/
    color: orange;
}

footer{
	grid-area: 5 / 1 / span 1 / span 7;
}

/****** 
Projekte
*********/
/*Formular, Komponenten*/

form, input {
	font-size: 1.1em;
}

fieldset {
	display: block; /*Inline-Elemente werden zu Blockelemente*/
	margin-right: 20px;/*Aussenabstand in Kurzform 20 Pixel von rechts*/
	margin-left: 20px;/*Aussenabstand in Kurzform 20 Pixel von links*/
	font-size: 85%;/*relative Schriftgröße*/
	padding: 5px;/*Innenabstand: Kurzform von allen Seiten*/ 
}

fieldset #left{
	clear:left;
	float: left;
	width: 40%;
}

fieldset #right{
	float: right;
	width: 40%;
}

form lable{
	/*Art und Weise wie Element/Box gerendert wird*/
	display:inline;
	
	/*Schriftfarbe*/
	color: slategray;
	
	/*Schriftgröße relativ*/
	font-size: 85%;
}

input,button,submit {
	font-size: 85%;/*relative Schriftgröße*/	
	margin-left: 5px;
}

legend{
	font-size:90%;
}

input{
	float: left;
	margin-top: 0;/*Aussenabstand in Kurzform 0 Pixel von oben*/
	background-color: rgba(220, 220, 220, 0.9);/*Hintergrundfarbe: RGB-Angabe*/
}
/* Responsive Anpassung:
verwendet ein Media Query, um das Layout für 
Bildschirme mit maximaler Breite (768px) anzupassen*/
@media (max-width: 768px) {
	    main {
    	/*row start /column start/ row end/ colomn end*/
        grid-area: 3 / 2 / span 2 / span 1;
    }
}
